.right-panel {
    position: static;
    display: table;
    width: 25vmax;
    margin: 0 0 0 auto;
    margin-right: 0px;
}

.demo {
    position: fixed;
    display: table;
    background-color: springgreen;
    opacity: 0.9;
    padding: 10px;
    font-family: "PT Sans", Verdana, Arial, sans-serif;
    font-size: 13px;
}

.chat .messages{
    height: 100px;
    border: 1px solid #d4d4d4;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
}

.chat .messages .user{
    color: #B22222;
}

.chat .message{
    width: 70%;
}

.chat .panel{
    margin-top: 8px;
}

#message_text{
    width: 60%;
    display: inline-block;
    margin-left: 8px;
}


/////////
#masked, #timerpanel {
    vertical-align: middle;
    display: none;
}
#timer {
    font-weight: bold;
    color: red;
    font-size: 16px;
    vertical-align: middle;
}
#board {}
#board-table td {
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 42pt;
    font-weight: bold;
    font-family: Arial;
    cursor: pointer;
}

#stats {
    width: 320px;
}
#stats > div {
    width: 300px;
    padding: 3px;
    margin: 1px;
}





.row .maze {
  padding: 0 0 20px 20px;
  display: inline-block;
}

.row
{
    display: inline-block;
    /*border: 4px solid black;*/
}

.in {
    background: #fff;
}

.cursor {
    background: red;
}

.cell
{
    border: 4px solid black;
    width: 15px;
    height: 15px;
}

.n
{
    border-top: none;
    padding-top: 4px;
}
.w
{
    border-left: none;
    padding-left: 4px;
}

.s
{
    border-bottom: none;
    padding-bottom: 4px;
}

.e
{
    border-right: none;
    padding-right: 4px;
}

.maze
{
	display: flex;
	width: 80vmin;
	height: 80vmin;
	background-color: #aaa;
}